@* Test version of ProfessorLayoutSection to verify parameter binding *@

@if (!IsInitialized)
{
    <div class="alert alert-info">
        <h4>Professor Section - Loading</h4>
        <p>IsInitialized: @IsInitialized</p>
        <p>IsRegistered: @IsRegistered</p>
    </div>
}
else if (!IsRegistered)
{
    <div class="alert alert-warning">
        <h4>Professor Section - Not Registered</h4>
        <p>IsInitialized: @IsInitialized</p>
        <p>IsRegistered: @IsRegistered</p>
        <button class="btn btn-primary" @onclick="() => SetRegistered(true)">Register as Professor</button>
    </div>
}
else
{
    <div class="alert alert-success">
        <h4>Professor Section - Registered</h4>
        <p>IsInitialized: @IsInitialized</p>
        <p>IsRegistered: @IsRegistered</p>
        <button class="btn btn-secondary" @onclick="() => SetRegistered(false)">Unregister</button>
    </div>
}
